
@import 'semantic';
// @import 'add-to-homescreen';
@import 'weather';

/* My Styles */

#cheney i {
    color: aqua;
    font-size: 3em;
    text-shadow: hoff voff blur #000;
}

// custom Background

.bg-1{
    background: teal;
    transition: background 5s 1s;
}